.top-three {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    flex-wrap: wrap;
    margin: 40px auto;
    padding: 20px;
  }
  
  .place-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background: linear-gradient(135deg, #f0f0f0, #dcdcdc); */
    /* border: 3px solid #333; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 15px;
    transition: transform 0.5s ease;
  }
  
  .place-circle:hover {
    transform: scale(1.2);
  }
  
  /* Размеры мест: 1 > 2 > 3 */
  .place-1 {
    background: linear-gradient(135deg, #ffd700, #ffcc00); /* Золотой */
    border: 3px solid #ffffff;
    width: 200px;
    height: 200px;
    order: 2;
    margin-bottom: 0;
  }
  
  .place-2 {
    background: linear-gradient(135deg, #c0c0c0, #dcdcdc); /* Серебряный */
    border: solid 3px #ffffff;
    width: 150px;
    height: 150px;
    order: 1;
    margin-bottom: 30px;
  }
  
  .place-3 {
    background: linear-gradient(135deg, #cd7f32, #b87333); /* Бронзовый */
    border: solid 3px #ffffff;
    width: 120px;
    height: 120px;
    order: 3;
    margin-bottom: 40px;
  }
  
  .place-label {
    font-size: 17px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .score {
    font-size: 26px;
    font-weight: bold;
    color: #333;
  }
  
  .name {
    font-size: 16px;
    margin-top: 5px;
  }
  
  .group {
    font-size: 16px;
    color: #333;
    margin-top: 2px;
  }
  